# Copyright (c) 2025 Yiancar
# SPDX-License-Identifier: MIT

# Enable MPU
CONFIG_ARM_MPU=y

# enable GPIO
CONFIG_GPIO=y

CONFIG_USE_DT_CODE_PARTITION=y
CONFIG_BUILD_OUTPUT_UF2=y

CONFIG_MPU_ALLOW_FLASH_WRITE=y
CONFIG_NVS=y
CONFIG_SETTINGS_NVS=y
CONFIG_FLASH=y
CONFIG_FLASH_PAGE_LAYOUT=y
CONFIG_FLASH_MAP=y

CONFIG_ZMK_RGB_UNDERGLOW=y
CONFIG_ZMK_RGB_UNDERGLOW_AUTO_OFF_IDLE=y

CONFIG_ZMK_SLEEP=y
CONFIG_ZMK_HID_REPORT_TYPE_NKRO=y
CONFIG_ZMK_HID_INDICATORS=y
CONFIG_ZMK_PM_SOFT_OFF=y

CONFIG_ZMK_USB=y
CONFIG_ZMK_BLE=y

# CONFIG_LOG_BUFFER_SIZE=16384
# CONFIG_ZMK_SETTINGS_RESET_ON_START=y
# CONFIG_LOG=y
CONFIG_LOG_MAX_LEVEL=4
